.App {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    }
.title {
    height:  300px;
    background-color:  #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.framing-text {
    
    width: 600px;
    font-size: 18px;
    line-height: 140%;
    text-align: left;
}

.data{
    width: 100%;
    height: 1000px; 
}

.piechart {
    width: 100%;
    height: 500px;
    justify-content: center;
    margin: auto;
}
.pie-description {
    width: 800px;
    margin: auto;
    line-height: 140%;
    font-size: 16px;
    text-align: left;
}

.whitespace {
    width : 100%;
    height: 300px;
}
