.title {
    height:  500px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.framing-text {
    
    width: 600px;
}

.piechart {
    width: 100%;
    height: 500px;
    justify-content: center;
    margin: auto;
}
.pie-description {
    width: 1200px;
    margin: auto;
    
    

    
}

